/* src/components/ScrollToTop.css */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
  }
  
  .scroll-button {
    background-color: #33333377;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 8px white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scroll-button:hover {
    background-color: black;
    transform: translateY(-5px);
  }
  
  .scroll-button:focus {
    outline: none;
  }
  @media (max-width: 768px) {
    .scroll-button {
      padding: 10px;
      font-size: 18px;
    }
  
    .scroll-to-top {
      bottom: 15px;
      right: 15px;
    }
  }
  