/* src/components/Skills.css */
.skills {
  margin: 70px 0;
  padding: 40px 20px;
  background: var(--background2);
  color: #333;
  border-radius: 75px 75px;
  box-shadow: 5px 5px 50px white;
}

.skills h2 {
  font-size: 4.5rem;
  margin-bottom: 120px;
  text-align: center;
}
.skills h2:hover {
  transform: scale(4.8);
  cursor: pointer;
  color: rgba(128, 128, 128, 0.404);
  /* margin: 15px; */
}

.skills-container {
  padding:0 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.skill-card {
  background: #ffffffad;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1.2rem;
  color: #333;
}


/* Responsive Design */
@media (max-width: 768px) {
  .skills{
    border-radius: 25px; 
  }
  .skills-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .skill-card{
    width: 150px;
  }
}