/* src/components/Experience.css */
.experience {
  padding: 40px 20px;
  color: #333;

}

.experience h2 {
  font-size: 4.5rem;
  margin-bottom: 120px;
  text-align: center;
}

.experience h2:hover {
  transform: scale(4);
  cursor: pointer;
  color: rgba(128, 128, 128, 0.404);
  /* margin: 15px; */
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.experience-item {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.experience-item h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #666;
}

.experience-item p {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .experience h2 {
    font-size: 2rem;
  }

  .experience-item h3 {
    font-size: 1.3rem;
  }

  .experience-item h4 {
    font-size: 1rem;
  }

  .experience-item p {
    font-size: 0.9rem;
  }
}