/* src/components/About.css */
.about {
  padding: 60px 20px;
  background: var(--background2);
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 75px 75px;
  margin: 70px 0;
  box-shadow: 5px 5px 50px white;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
}

.about-text {
  flex: 1;
}
.about h2{
  margin-bottom: 80px;
  font-size: 4.5rem;
}
.about h2:hover{
  transform: scale(4.7);
  cursor: pointer;
  color: rgba(128, 128, 128, 0.404);
  /* margin: 15px; */
}
.about p{
  font-size: 1.8rem;
}

.about-image {
  flex: 1;

}

.about-image img {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-top: 20px;
  }
  .about{
    border-radius: 25px; 
  }
  .about h2{
    font-size: 3.2rem;
  }
}
