/* src/components/Navbar.css */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
  position: fixed;
  background: #33333376;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1100px;
  padding: 0 24px;
}

.navbar-logo {
  width: 100px;
  height: auto;
  text-decoration: none;
  color: white;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  /* text-align: center; */
  align-items: center;
}

.nav-links {
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.nav-links:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.474);
  transition: all 0.2s ease-out;
  color: black;
}

/* 
.nav-item {
  height: 80px;
} */

@media screen and (max-width: 960px) {
  .navbar {
    z-index: 10;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -10000%;
    left:0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(255, 255, 255, 0.937);
    top: 80px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .nav-item {
    margin: 0;
    width: 100%;
  }

  .nav-links {
    text-align: center;
    width: calc(100% - 64px);
    padding: 2rem;
    display: table;
    color: black;
  }

  .nav-links:hover {
    border-radius: 0;
    background: var(--background);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

}