:root{
  --background: linear-gradient(to right, #ff7e5f, #feb47b);
  --background2: linear-gradient(to right, #feb47b, #ff7e5f);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: var(--background);
}

.App {
  text-align: center;
}
