/* src/components/Projects.css */
.projects {
  padding: 40px 20px;
  color: #333;
  border-radius: 75px 75px;
  margin: 70px 0;
}

.projects h2 {
  margin-bottom: 120px;
  font-size: 4.5rem;
  text-align: center;
}
.projects h2:hover{
  transform: scale(4.8);
  cursor: pointer;
  color: rgba(128, 128, 128, 0.404);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-content {
  padding: 20px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.project-description {
  font-size: 1rem;
  color: #666;
}
.project-card a {
  color: #ff7e5f;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .projects h2{
    font-size: 3rem;
  }
  .projects h2:hover{
    transform: scale(0)
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
}